/* Yes, we all hate IE7 too. */
/* Drupal admin tables. */
#content tr.even th,
#content tr.even td,
#content tr.odd th,
#content tr.odd td {
  border-bottom: 1px solid #cccccc;
}

/* Minor fix for primary and secondary tabs in IE */
ul .primary li a:hover,
ul .secondary li a:hover {
  cursor: pointer;
  color: #555555;
  text-decoration: none;
}


#main-menu a {
    color: white;
    font-family: arial;
    font-size: 13px;
    letter-spacing: 0;
    text-decoration: none;
}

#main-menu ul li {
    float: left;
    list-style-type: none;
    margin-left: 0;
    margin-right: 20px;
}

input[type="submit"] {
    border: medium none;
    font-family: arial;
    font-size: 12px;
    text-transform: uppercase;
    width: 78px;
	height:27px;
	text-align:center;
	padding:6px 12px 8px 12px;
}

#watch-now ul li {
    border-left: 1px solid #454B4E;
    border-right: 1px solid #1D2022;
    height: 62px;
    padding-left: 46px;
    padding-top: 6px;
    width: 146px;
}

div.video {
    height: 450px;
    margin: auto;
    text-align: center;
    width: 808px;
}

#search-theme-form {
    background: none repeat scroll 0 0 #1C1C1C;
    margin-left: 580px;
    margin-top: 10px;
    padding: 5px;
}

.page-search #content-area #edit-submit {
	margin-top:4px;
}

#block-views-homepage-slideshow .primary-headline p {
	background:#ffea00;
}

#block-views-homepage-slideshow .secondary-headline {
	background:white;
}

#block-block-resources-for-links .producers a, .page-get-involved .producers a {
background:url("../images/right-arrow.png") no-repeat scroll 215px 18px;	
}

#block-block-resources-for-links .organizations a, .page-get-involved .organizations a {
background:url("../images/right-arrow.png") no-repeat scroll 215px 18px;	
}

#block-block-resources-for-links .youth-channel a, .page-get-involved .youth-channel a {
background:url("../images/right-arrow.png") no-repeat scroll 215px 18px;	
}

#watch-now ul li:hover .channel-about {
	display:none;
}

#block-block-resources-for-links .producers a, .page-get-involved .producers a {
    background: url("../images/right-arrow.png") no-repeat scroll 215px 18px;
}

#block-block-resources-for-links .organizations a, .page-get-involved .organizations a {
    background: url("../images/right-arrow.png") no-repeat scroll 215px 18px;
}

#block-block-resources-for-links .youth-channel a, .page-get-involved .youth-channel a {
    background: url("../images/right-arrow.png") no-repeat scroll 215px 18px;
    padding: 16px 122px 16px 60px;
}

#sidebar-second #mini-panel-yc_newsletter_signup input[type="submit"]{
	height: 39px;
}

a.watch-live-button {
	left: 350px;
}