
body {
	background:url('../images/graph_pattern.png');
}


#content h1,
#content h2,
#content h3 {
	font-family:'Holtwood One SC', arial, sans-serif;
	font-weight:normal;
}

#sidebar-second h2,
#sidebar-second h3,
#sidebar-second h4{
	font-family: 'Bowlby One', arial, sans-serif;
	text-transform: uppercase;
}

#content h2,
#content h3 {
	font-size:24px;
	margin-bottom: 20px;
}

#content .read-more a,
#content a.read-more,
#content p a,
.view-youth-channel-our-services .views-row a,
#sidebar-second a {
	color:#0ca676;
	background:#d3ff7e;
}

/* Hero */


#header {
	background: url("../images/yc-hero-back.png") no-repeat scroll 50% 33px #BDFFEB;
	top:0;
	height:450px;
	margin-bottom: 40px;
}

#block-panels-mini-mini-panel-yc-landing-page-intro {
	width:940px;
	margin:auto;
	padding:10px;
	height: 430px;
}

#mini-panel-youth_channel_landing_intro {
	padding-top:40px;
	width:272px;
	font-size:18px;
	color:#25292b;
	line-height:24px;
	position:relative;
}

#page-youth-channel #header h2.pane-title {
	background: url("../images/yc-logo.png") no-repeat scroll 0 0 transparent;
	height: 59px;
	text-indent: -999em;
	width: 346px;
	margin:0 0 25px 0;
	display: block;
}

#mini-panel-youth_channel_landing_intro p {
	margin-bottom:20px;
}

#page-youth-channel #content-header {
	position: absolute;
	top: -491px;
	left: 13px;
}

/* Homepage body content */

#page-youth-channel h1{
	display: none;
}

h3.title a, h4 {
	color: #25292B;
	font-family: arial;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 0;
	text-decoration: none;
	width: 260px;
}

#mini-panel-youth_channel_landing_intro .button,
.section-youth-channel #main .button,
.section-youth-channel #main input[type="submit"] {
	background: #ef5711;
	background: -moz-linear-gradient(top, #ef5711 0%, #ca4000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef5711), color-stop(100%,#ca4000));
	background: -webkit-linear-gradient(top, #ef5711 0%,#ca4000 100%);
	background: -o-linear-gradient(top, #ef5711 0%,#ca4000 100%);
	background: -ms-linear-gradient(top, #ef5711 0%,#ca4000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5711', endColorstr='#ca4000',GradientType=0 );
	background: linear-gradient(top, #ef5711 0%,#ca4000 100%);
	color: white;
}
#mini-panel-youth_channel_landing_intro .button:hover,
#content .button:hover,
#content input[type="submit"]:hover {
	background: #ca4000;
	background: -moz-linear-gradient(top, #ca4000 0%, #ef5711 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ca4000), color-stop(100%,#ef5711));
	background: -webkit-linear-gradient(top, #ca4000 0%,#ef5711 100%);
	background: -o-linear-gradient(top, #ca4000 0%,#ef5711 100%);
	background: -ms-linear-gradient(top, #ca4000 0%,#ef5711 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca4000', endColorstr='#ef5711',GradientType=0 );
	background: linear-gradient(top, #ca4000 0%,#ef5711 100%);
}

#mini-panel-youth_channel_landing_intro .button a,
#content .button a {
	background: url("../images/right-arrow2-sm.png") no-repeat scroll right center transparent;
	color: white;
	float: left;
	font-size: 12px;
	font-weight: normal;
	margin-right: 9px;
	padding: 0 13px 0 10px;
	text-decoration: none;
	line-height: 24px;
}

#content .button-big,
#mini-panel-youth_channel_landing_intro .button-big{
	float: none;
}
#content .button-big a,
#mini-panel-youth_channel_landing_intro .button-big a{
	line-height: 50px;
	padding: 0 16px 0 12px;
	text-shadow: 0 -1px 0 #666;
	font-size: 14px;
	background: url("../images/right-arrow2-sm.png") no-repeat scroll right center transparent;
	float: none;
	display: block;
	margin-right: 12px;
	font-weight: bold;
	color: #f3f7f9;
}

#content .button.wide{
	width: 280px;
}

/* All Homepage */

#content-top > div {
	border-top: 1px solid #b2bbc0;
	padding-bottom: 10px;
}
div#block-views-youth-channel-join-homepage-block {
	border-top: 0 none;
}

/* Join Youth Channel */

.view-content > div.item-list {
	margin-bottom: 20px;
	padding-top:10px;
}

#block-views-youth-channel-join-homepage-block ul li {
	clear: none;
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 290px;
}

#block-views-youth-channel-join-homepage-block {
}

#block-views-youth-channel-our-services-block-homepage,
#block-panels-mini-mini-panel-yc-landing-page-our-services-section,
#block-panels-mini-mini-panel-yc-landing-page-news-section,
#block-panels-mini-mini-panel-yc-landing-page-support-youth-channel,
#block-views-yc-video-grid---homepage{
	padding-top:30px;
	float:left;
}

#block-panels-mini-mini-panel-yc-landing-page-our-services-section h4{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 2px;
	text-transform: none;
}

#block-panels-mini-mini-panel-yc-landing-page-our-services-section .item-list .views-row {
	clear: left;
	margin: 0 0 7px 0;
}

#block-panels-mini-mini-panel-yc-landing-page-our-services-section p{
	margin-bottom: 10px;
}

#block-panels-mini-mini-panel-yc-landing-page-news-section .view-header{
	position: absolute;
	top: 31px;
	right: 0;
}

#block-panels-mini-mini-panel-yc-landing-page-news-section .views-row h3{
	margin-bottom: 12px;
}
#block-panels-mini-mini-panel-yc-landing-page-news-section .read-more{
	float: none;
}

#block-panels-mini-mini-panel-yc-landing-page-news-section .views-row{
	margin-bottom: 25px;
}

.pane-yc-news-with-image img{
	margin: 7px 0;
}

#block-views-yc-video-grid---homepage {
	width: 100%;
}

#block-views-yc-video-grid---homepage td.col-1{
	padding: 10px 28px 10px 0;
}
#block-views-yc-video-grid---homepage td.col-2{
	padding: 10px 14px 10px 14px;
}
#block-views-yc-video-grid---homepage td.col-3{
	padding: 10px 0 10px 28px;
}

#block-views-yc-video-grid---homepage .view-header{
	position: absolute;
	top: 29px;
	right: 0;
}

.view-yc-video-thumbnail-grid .views-field-title a{
	color: #0ca676;
	font-weight: bold;
}

.view-yc-video-thumbnail-grid .views-field-field-video-embed-1{
	font-size: 10px;
	color: #666;
}

/* Sidebar */

.sidebar-second .sidebar {
	float: left;
	padding-left: 45px;
	padding-top: 0;
	width: 220px;
}

#sidebar-second .top {
	background:url('../images/orange-tail.png') no-repeat right center;
	margin-bottom: 20px;
	padding: 0 21px 0 0;
	border-bottom:none;
	height: 40px;
}

#sidebar-second .top h3 {
	font-size: 17px;
	font-weight: bold;
	color:white;
	background:#ca4100;
	line-height: 34px;
	padding: 4px 8px;
	height: 32px;
	text-shadow: 0px -1px 1px #666;
	filter: dropshadow(color=#666, offx=0, offy=-1);
	margin: 0 0 14px 0;
	white-space: nowrap;
}

#sidebar-second .content h2{
	display: none;
}

#block-menu-youth-channel li,
#block-menu-youth-channel li.leaf{
	list-style-type: none;
	list-style-image: none;
}
#block-menu-youth-channel li a{
	color: #25292b;
	background-color: transparent;
}
#block-menu-youth-channel li a:hover{
	color: #005b25;
}
#block-menu-youth-channel li.expanded ul{
	display: none;
}
#block-menu-youth-channel li.expanded li{
	margin: 0 0 0 3px;
}
#block-menu-youth-channel li.expanded li a{
	color: #0ca676;
	background-color: #deff73;
}
#block-menu-youth-channel li.expanded li a:hover{
	color: #005b25;
}

#block-views-yc-news-page-categories-block .views-row a{
	background-color: transparent;
	color: #25292b;
}

#block-views-yc-news-page-categories-block .views-row a:hover{
	color: #005b25;
}

#block-mnnmisc-yc-news-archive li {
	background-color: transparent;
	color: #0CA676;
	padding: 0 0 0 16px;
}
#block-mnnmisc-yc-news-archive li.collapsed {
	background: transparent url(../images/yc-menu-collapsed.png) no-repeat left 5px;
	list-style-image: none;
	list-style-type: none;
}
#block-mnnmisc-yc-news-archive li.expanded {
	background: transparent url(../images/yc-menu-expanded.png) no-repeat left 5px;
	list-style-image: none;
	list-style-type: none;
}

#block-mnnmisc-yc-news-archive li li {
	padding: 0 0 0 30px;
}

#block-mnnmisc-yc-news-archive li a{
	background-color: transparent;
	color: #25292b;
}

#block-mnnmisc-yc-news-archive ul{
	margin: 0;
}

#block-panels-mini-mini-panel-yc-firehouse-sidebar .top h3{
	line-height: 17px;
	white-space: normal;
}

#block-panels-mini-mini-panel-yc-twitter-feed-sidebar a{
	background-color: transparent;
}
#block-panels-mini-mini-panel-yc-twitter-feed-sidebar img{
	box-shadow: 0px 0px 0px 0px #fff; 
}

#mini-panel-youth_channel_stay_connected .content li{
	background: transparent url(../images/connect-icons.png) no-repeat;
	display: block;
	height: 31px;
	line-height: 31px;
}
#mini-panel-youth_channel_stay_connected .content li span,
#mini-panel-youth_channel_stay_connected .content li a{
	background-color: transparent;
	line-height: 29px;
	color: #25292b;
	padding-left: 36px;
	display: block;
}
#mini-panel-youth_channel_stay_connected .content li.phone{
	background-position: 0 0;
}
#mini-panel-youth_channel_stay_connected .content li.email{
	background-position: 0 -38px;
}
#mini-panel-youth_channel_stay_connected .content li.facebook{
	background-position: 0 -74px;
}
#mini-panel-youth_channel_stay_connected .content li.twitter{
	background-position: 0 -113px;
}
#mini-panel-youth_channel_stay_connected .content li.youtube{
	background-position: 0 -150px;
}
#mini-panel-youth_channel_stay_connected .content li.vimeo{
	background-position: 0 -188px;
}
.section-youth-channel #main h5.title a {
	color:#25292b;
}

.views-row h5.title {
	color:#25292b;
	margin-bottom:5px;
}

.col-1, .col-2{
	width:216px;
}
#block-views-youth-channel-join-sidebar-block li a,
#block-views-youth-channel-our-services-block-sidebar li a{
	background-color: transparent;
	color: #005b25;
	margin: 0;
}
#block-views-youth-channel-join-sidebar-block li a.active,
#block-views-youth-channel-join-sidebar-block li a:hover,
#block-views-youth-channel-our-services-block-sidebar li a.active,
#block-views-youth-channel-our-services-block-sidebar li a:hover{
	color: #25292b;
}
#block-views-youth-channel-join-sidebar-block li,
#block-views-youth-channel-our-services-block-sidebar li{
	border-bottom: 1px #b2bbc0 solid;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

body.node-type-yc-join #title h1,
body.node-type-yc-service #title h1{
	font-family: Arial, sans-serif;
	font-size: 24px;
	margin-top: 0;
}

#content-area .yc-join h2,
#content-area .yc-service h2{
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 30px 0 15px 0;
}

#content-area .yc-join ul.ordered,
#content-area .yc-service ul.ordered{
	list-style-image: none;
	list-style-type: none;
	margin-left: 0;
}
#content-area .yc-join ul.ordered li,
#content-area .yc-service ul.ordered li{
	clear: left;
	height: 60px;
	margin-bottom: 10px;
	width: 100%;
	font-size: 18px;
}
#content-area .yc-join ul.ordered li span,
#content-area .yc-service ul.ordered li span{
	background-color: #d3ff7e;
	border-radius: 45px 45px 45px 45px;
-moz-border-radius: 45px 45px 45px 45px;
-webkit-border-radius: 45px 45px 45px 45px;
	color: #333;
	float: left;
	font-family: Arial, sans-serif;
	font-size: 18px;
	margin-bottom: 10px;
	margin-right: 20px;
	padding: 14px 18px;
}
#content-area .yc-join ul.ordered li small,
#content-area .yc-service ul.ordered li small{
	font-size: 14px;
}

.highlight,
.highlight a{
	color: #0ca676;
}

#content .view-yc-news-page h2.title{
	font-family: Arial, sans-serif;
	color:#25292b;
}

.view-yc-news-page .views-row{
	margin-bottom: 30px;
}

.view-yc-news-page .addthis_toolbox{
	margin-top: 0;
}
.view-yc-news-page .read-more{
	float: none;
}
.view-yc-news-page .addthis{
	margin-top: 20px;
}

.node-type-yc-video #title,
.node-type-yc-video #content-header{
	display: none;
}

.node-type-yc-video #main{
	background: transparent url(../images/video-back-black.png) repeat-x;
	padding-top: 0;
}

.node-type-yc-video #content-bottom{
	border-top: 1px #b4c2c2 solid;
	margin-top: 30px;
	padding-top: 30px;
}




