# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
files/mnn
sites/*/files
sites/*/private
files/*/backup_migrate
files/*/imagecache

# Drush backup directory
backup/*

# Other
_server_info.php
.DS_Store
